body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: rebeccapurple;
}
.banner-column{
    background-color: salmon;
}
.navbar-container{
    background-color: #262B37;
}
.about-container{
    background-color: #01ABAD;
}
.education-container{
    background-color: #EEEEEE;
}
.bg-redtype-colour{
    background-color: #e8fb7f;
}
.redtype-colour{
    color: #FB857F;
}
.font-weight-bolder{
    font-weight: bold;
}
.circle{
    background-color: #FB857F;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}